.карточки {
    background: #222;
padding-top: 100px;
}
.карточки__группа-заголовков {
    color: #FFF;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.карточки__заголовок1 {
    font-size: 14px; 
    margin-top: 5px;
   
}
.карточки__заголовок2 {
    font-size: 32px; 
    text-align: center;
}
.карточки__группа-карточек {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
    margin-top: 40px;
    padding-left: 120px;
    padding-right: 120px;
}
.карточки__одна-карточка {
    border-radius: 20px;
background: #FFF;
width: 379px; 
display: flex;
justify-content: center;
padding-top: 40px;
position: relative;
}
.карточка__низ-карточки{
    border-radius: 0px 0px 20px 20px;
background: #F2F2F2;
box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.20);
width: 379px;
height: 197px;
flex-shrink: 0;
position: absolute;
bottom: 0;
padding: 0px 47px 0px 47px;
}
.карточки__заголовок{
    color: #0278ED;
    text-align: center;
    padding-top: 48px;
    font-size: 24px;

}
.карточки__текст{
    text-align: center;
    font-size: 15px;
    color: #222;
    width: 100%;
    margin-top: 11px;
    line-height: 22.4px; /* 149.333% */
   
    
}
@media (max-width:768px) {
    .карточки__группа-карточек{
        padding-left: 10px;
        padding-right: 10px;
    }
    .карточки__одна-карточка{
        min-width: 379px;
    }
    
}